{{#each questions as |question|}}
  <section data-id="{{question._id}}" class='survey-list'>

      <h6> {{question.title}} </h6>
        <li>{{question.choice1}}</li>
        <li>{{question.choice2}}</li>
        <li>{{question.choice3}}</li>
        <li>{{question.choice4}}</li>
        <button data-id="{{question._id}}" class="btn btn-primary see-results"> See Results </button>
        <button data-id="{{question._id}}" title="Edit" class="btn btn-primary question-update-btn">
          Update
        </button>
        <button data-id="{{question._id}}" title="Delete" class="btn btn-danger question-delete-btn">
          Delete
        </button>
        <button data-id="{{question._id}}" title="Show" class="btn btn-primary get-question-btn">
          SHOW
        </button>

  </section>
{{/each}}
