  {{log question.id}}
  <section data-id="{{question.id}}" class ='survey-view'>
      {{#each responses as |response|}}

    <h6>Response:</h6>
    <h3> {{response}} </h3>
    <h6>Votes:</h6>
    <h3>
     {{ question.response.user.legnth}}
    </h3>

  <button data-id="{{question.id}}" class="btn btn-danger delete"> DELETE </button>
  </section>
