{{#each questions as |question|}}
  {{log question}}
  <section data-id="{{question._id}}" class='take-survey-list'>

      <!-- <h6> {{question.title}} </h6> -->
    </br>
        <button data-id="{{question._id}}" title="{{question.title}}" class="btn btn-info take-survey-btn">
          {{question.title}}
        </button>
  </section>
  {{/each}}
<div class=survey-action-message></section>
