<div class="title-container">
{{#each questions as |question|}}
  <div data-id="{{question._id}}" class='take-survey-list'>

      <!-- <h6> {{question.title}} </h6> -->
    </br>
        <div data-id="{{question._id}}" title="{{question.title}}" class="take-survey-btn">
          <div class="title">
            {{question.title}}
          </div>
        </div>
  </div>
  {{/each}}
</div>
